<!DOCTYPE html>
<html>
  <head>
  </head>

  <body>
    <p>Register, please</p>
    <form action="/register" method="POST">
      <input name="login" type=string />
      <br />
      <input name="password" type=password />
      <br />
      <input type=submit />
    </form>
  </body>

</html>
